aniso8601
beautifulsoup4
bs4
cached-property
certifi
charset-normalizer
click
greenlet
html5lib
idna
itsdangerous
Jinja2
MarkupSafe
msgpack
pycurl
pytz
requests
six
soupsieve
spark-parser
urllib3
webencodings
Werkzeug
xdis
futures
